---
extends: eslint-config-airbnb

plugins:
  - react

globals:
  document: false

parserOptions:
  ecmaFeatures:
    experimentalObjectRestSpread: true

rules:
  import/newline-after-import: off
  arrow-parens: off
  react/jsx-filename-extension: off
  no-shadow: off
