---
extends: eslint-config-airbnb

plugins:
  - react

globals:
  document: false
  window: false

parserOptions:
  ecmaFeatures:
    experimentalObjectRestSpread: true

rules:
  arrow-parens: off
  import/newline-after-import: off
  import/no-named-as-default: off
  no-shadow: off
  react/forbid-prop-types: off
  react/jsx-filename-extension: off
